services:
  mongo:
    image: mongo
    restart: always
    hostname: mongo-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
     - "27017:27017"
    networks: 
     - mongo-network
  app_server:
    depends_on:
      - mongo
    image: python_app
    restart: always
    volumes:
      - ./temp:/app/temp:rw
networks:
   mongo-network:
      driver: bridge
      ipam:
         driver: default
